/* .css-view-1dbjc4n {
    flex-direction: row;
} */

.r-flexDirection-1d5kdc7 {
  flex-direction: column-reverse !important;
}

.r-flexDirection-18u37iz {
  flex-direction: row !important;
}

/* .css-view-1dbjc4n {} */
.r-fontSize-1ra0lkn {
  font-size: 30px !important;
}

.r-color-jwli3a {
  color: rgb(255, 255, 255) !important;
}
.r-marginRight-15kcd5j {
  margin-right: 10.6927px !important;
}

.r-marginLeft-18rtmsl {
  margin-left: 10.6927px !important;
}

.r-display-6koalj {
  display: flex !important;
}

.r-marginTop-eoa5ma {
  margin-top: 9.37037px !important;
}

/* Chome
     Home Page Left bottom btns
  */
.r-marginLeft-ipbpe4 {
  margin-left: 33.1474px !important;
}

/* Mozila
     Home Page Left bottom btns*/
.r-marginLeft-1nsxgqf {
  margin-left: 33.1474px !important;
}

.r-position-u8s1d {
  position: absolute !important;
}
.r-marginTop-cbh49x {
  margin-top: 33.7333px !important;
}

/* Mozila
      PJE margin top
  */
.r-marginTop-147ceql {
  margin-top: 32.2667px !important;
}
.r-marginLeft-1sul0gx {
  margin-left: 34.2167px !important;
}

/* MOzila
  PJE left view margin */
.r-marginLeft-dl7tho {
  margin-left: 30.8px !important;
}

/* Mozila Button margin right */
.r-marginRight-pgsg98 {
  margin-right: 9.625px !important;
}

/* Mozila Button margin top */
.r-marginTop-1y4np3h {
  margin-top: 8.96296px !important;
}

/* Mozila Font size */
.r-fontSize-198d08l {
  font-size: 27px !important;
}

/* Chrome
      Home page input margin top */
.r-marginTop-ap8q0g {
  margin-top: 15.9296px !important;
}

/* Mozila
      Home page input margin top */
.r-marginTop-n1xjhk {
  margin-top: 15.237px !important;
}

/*
  Mozila Numpad right btns
  */
.r-marginLeft-1trjlql {
  margin-left: 28.875px !important;
}

/* Chrome Numpad right btns*/
.r-marginLeft-19u5tzx {
  margin-left: 32.0781px !important;
}

.r-marginLeft-91gax9 {
  margin-left: 9.33333px !important;
}

.r-marginRight-1huyqpk {
  margin-right: 9.33333px !important;
}

.r-fontSize-yy2aun {
  font-size: 26px !important;
}

.r-display-6koalj {
  display: flex !important;
}

.r-marginTop-1yxiidb {
  margin-top: 14.4657px !important;
}

.r-marginLeft-1pkbwqz {
  margin-left: 28.9333px !important;
}

.r-borderTopWidth-5kkj8d {
  border-top-width: 1px !important;
}

.r-borderTopColor-jft4b4 {
  border-top-color: rgb(223, 223, 223) !important;
}

.r-borderRightWidth-13l2t4g {
  border-right-width: 1px !important;
}

.r-marginTop-1esskvc {
  margin-top: 30.6333px !important;
}

.r-marginLeft-pr0n26 {
  margin-left: 29.8667px !important;
}

.r-flexDirection-eqz5dr {
  flex-direction: column !important;
}

.r-marginTop-nxufts {
  margin-top: 18.7204px !important;
}
